{% extends "layout.html" %}

{% block content %}
<legend class="border-bottom mb-4 text-warning">{{legend }}</legend>
<table border="1" cellpadding=3>
    <tr>
        <th>Meeting</th>
        <th>Team</th>
        <th>Room</th>
        <th>Booker</th>
        <th>Date</th>
        <th>Time</th>
        <th>Duration</th>
        <th>Is Confirmed</th>
    </tr>
{% for meeting in meetings %}
    <tr>
        <td><a class="text-info text-decoration-none" href="{{ url_for('meeting_update', meeting_id=meeting.id) }}">{{ meeting.title }}</a></td>
        <td>{{ meeting.team.teamName}}</td>
        <td>{{ meeting.room.roomName}}</td>
        <td>{{ meeting.who_booked}}</td>
        <td>{{ meeting.date.strftime('%Y-%m-%d')}}</td>
        <td>{{ meeting.startTime}}</td>
        <td>{{ meeting.duration}}</td>
        <td class={{'text-success' if meeting.is_confirmed else 'text-warning'}}>{{'Confirmed' if meeting.is_confirmed else 'Not Confirmed'}}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}