{% extends 'layout.html' %}

{% block title %}
Booking
{% endblock %}

{% block content %}
<legend class="border-bottom mb-4 text-info">{{legend}}</legend>
{% from "_formhelpers.html" import render_field %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


           <dt>{{ form.title.label}}</dt>
            <dd>{{ form.title(size=32)}}</dd>

            <dl>
                {{ render_field(form.rooms) }}
            </dl>
                {{ form.date.label}}
                {{ form.date(class="datepicker") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <dl>
                {{ render_field(form.startTime) }}
                {{ render_field(form.duration)}}
            </dl>
                {{ form.students.label }}
                {{ form.students()}}
                {% for error in form.students.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
                <br>
                {{ form.participant_student.label }}
                {{ form.participant_student()}}
                {% for error in form.participant_student.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

             {{ form.is_confirmed.label }}<br>
            {{ form.is_confirmed }}<br>
            {% for error in form.is_confirmed.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}


        <p>{{ form.submit() }}</button>
    </form>
{% endblock %}