{% extends "layout.html" %}

{% block content %}
<h1>Room details</h1>
<table border="1" cellpadding=3>
        <tr>
            <th>Room</th>
            <th >Capacity</th>
        </tr>
    {% for room in all_rooms %}
        <tr>
            <td>{{ room.roomName }}</td>
            <td class="text-center">{{ room.capacity }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<h2>Rooms occupation status on {{date}}:</h2>
<table cellpadding=5>
    <tr class="p-3">
        <th>Room</th>
        {% for hour in hours %}
        <th>{{hour}}</th>
        {% endfor %}
    </tr>
{% for room in rooms_occupied %}

    <tr class="m-3">
        <td >{{ room.roomName }}</td>
        {% for hour in room.roomtime %}
        {% if hour["test"] %}
            {% if hour["sum_st"]>=room.load %}
                <td ><a href="{{url_for('all_meetings_by_date',booking_date=date, room_id=room["roomId"], time=room["roomtime"].index(hour)+9) }}"><span class="badge bg-danger fs-sm">{{hour["sum_st"]}}</span></a></td>
            {% else %}
                <td ><a href="{{url_for('all_meetings_by_date',booking_date=date, room_id=room["roomId"], time=room["roomtime"].index(hour)+9) }}"><span class="badge bg-success fs-sm">{{hour["sum_st"]}}</span></a></td>
            {% endif %}
        {% else %}
        <td > <i class="bi bi-calendar text-info"></i> </td>
        {% endif %}
        {% endfor %} 
    </tr>
{% endfor %}
</table>
{% endblock %}