{% extends 'layout.html' %}
{% block title %}
Register
{% endblock %}
{% block content %}
        <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </p>
                <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
                {{ form.fullname.label }}<br>
                {{ form.fullname(size=32) }}<br>
                {% for error in form.fullname.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
        </p>
        {% if form.role == 'admin' %}
        <p>
                {{ form.role.label }}<br>
                {{ form.role(size=32) }}<br>
                {% for error in form.role.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
        </p>
        {% endif %}
        <p>
                {{ form.teamId.label }}<br>
                {{ form.teamId() }}<br>
                {% for error in form.teamId.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
        </p>
        <p>
                {{ form.teamName.label }}<br>
                {{ form.teamName(size=32) }}<br>
                {% for error in form.teamName.errors %}
                <span class="danger">[{{ error }}]</span>
                {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
{% endblock %}