{% extends 'layout.html' %}

{% block content %}
<h1>All rooms</h1>
<div class="row row-cols-1 row-cols-md-3 g-2">
{% for room in rooms %}
    <div class="col">
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-info">id: {{room.id}}</div>
  <div class="card-body text-success">
    <h5 class="card-title">Room: {{room.roomName}}</h5>
    <p class="card-text">Number of persons: {{room.person_num}}</p>
  </div>
  <div class="card-footer bg-transparent border-success"> {{ 'Remote' if room.remote else 'Presence' }}</div>
</div>
    </div>
{% endfor %}
</div>

{% endblock %}