{% extends 'layout.html' %}

{% block title %}
Booking
{% endblock %}

{% block content %}
<h1>Book Meeting</h1>
{% from "_formhelpers.html" import render_field %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for error in form.title.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


           <dt>{{ form.title.label}}</dt>
            <dd>{{ form.title(size=32)}}</dd>

            <dl>
                {{ render_field(form.rooms) }}
            </dl>
                {{ form.date.label}}
                {{ form.date(class="datepicker") }}
                {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            <dl>
                {{ render_field(form.startTime) }}
                {{ render_field(form.duration)}}
            </dl>
                {{ form.participants_user.label }}
                {{ form.participants_user()}}
                {% for error in form.participants_user.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

         <dl>
             {{ form.is_confirmed.label }}<br>
            {{ form.is_confirmed }}<br>
            {% for error in form.is_confirmed.errors %}
            <span class="danger">[{{ error }}]</span>
            {% endfor %}
            </dl>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}